@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #f6f6f6;
}

body.loading {
    opacity: 0.3;
    background-color: #4a4444;
}

h2 {
    width: 100vw;
    position: absolute;
    top: calc(30vh - 50px);
    text-align: center;
    font-weight: 300;
    font-size: 35px;
}

form {
    position: absolute;
    left: 50%;
    top:40%;
    width: 600px;
    height: 50px;
    transform: translateX(-50%);
    font-weight: 300;
    z-index: 1;
}

form p {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: #a0a0a0;
    padding-left: 5px;
    padding-right: 5px;
}

form p span {
    cursor: pointer;
    transition: color 0.5s;
}

form p span:hover {
    color: black;
}

input[type=text] {
    width: 600px;
    height: 50px;
    border: 1px solid #a0a0a0;
    border-radius: 2px;
    padding: 10px;
    font-weight: 300;
}

input[type=text]:focus {
    border-color: #707070
}

.stripe {
    position: relative;
    width: 40px;
    height: 25vh;
    color: white;
    z-index: 2;

    overflow: hidden;
    width: 40px;    
}

body.has-selected .key {
    opacity: 0.2;
}

body.has-selected .open .key {
    display: inline-block;
}

.stripe .title  {
    position: relative;
    width: 40px;
    height: 100%;
    float: left;
    box-sizing: border-box;
}

.stripe .title span {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    font-weight: 400;
    white-space: pre;
}

.stripe .content {
    position: absolute;
    left: calc(5vw + 40px);
    width: calc(90vw - 40px);
    display: none;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    font-weight: 300;
    display: flex;
    justify-content: space-between;

    opacity: 0;
}

.stripe .content div {
    position: relative;
    height: 100%;
    width: 150px;
}

.stripe .content div img {
    position: absolute;
    max-height: 100px;
    max-width: 150px;
    top: 50%;
    transform: translateY(-50%);
}
.stripe .content span {
    line-height: calc(25vh - 50px);
}

.stripe .content span a {
    text-decoration: none;
    color: white;
}

.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1111;
    position: absolute;
    top: 25px;
    width: 100%;
}

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  